body{
background-color: rgb(48, 47, 47);
font-family: Arial, sans-serif;


}
p{
font-size: 30px;
color: white;
margin-top: 20px;
}

h2{
font-size: 40px;
color: white;
}

h1{
font-size: 60px;
color: white;

}

 h3{
font-size: 30px;
color: tomato;

}
.especificidade{
margin-top: 203px;
}

.basico{
margin-top: 304px;
}
.tabela-tags {
    display: inline-block;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: #1a1a1a;
    color: #fff;
    border: 2px solid #444;
    max-width: 700px;
}

.tabela-tags th {
    background: #000;
    padding: 12px;
    border-bottom: 2px solid #444;
    text-align: left;
    font-size: 18px;
}

.tabela-tags td {
    padding: 10px;
    border-bottom: 1px solid #333;
    font-size: 24px;
}

.tabela-tags tr:hover {
    background: #2a2a2a;
}

.id12{
display: block;
}

.index{
font-size: 30px;
color: aqua;
}


.borda1 {
    position: fixed;
    top: 0;            /* fixa no topo sem espaço */
    left: 0;           /* opcional: começa do lado esquerdo */
    right: 0;          /* opcional: estica até a direita */
    max-height: 400px;      /* ajuste conforme seu menu */
    background-color: #000;
    border-radius: 0 0 20px 20px; /* bordas suavizadas embaixo */
    border: 2px solid #ec0808;
    z-index: 999;      /* garante que fique acima de tudo */
}



.tittle{
color: rgb(255, 255, 255);
text-shadow: 2px 2px 5px #ff0000;
display: inline-block;
}


.procure{
    height: 30px;
width: 500px;
margin-left: 704px;
margin-top: 29px;


}
.titulo {
    display: flex;
    gap: 10px;
    align-items: center; /* impede esticar */
    margin-left: 10px;
}

.grande{

font-size: 20px
}

.bordona{
border: 7px solid #12dcf7;
max-width: 1100px;
margin-bottom: 60px;
}

.botao{

font-size: 40px;
margin-left: 20px;
text-decoration: none;
color: #12dcf7;
margin-right: 20px;
}
.chisa{
width: 100%;
}

.botao:hover{
    color: #ec0808;
}

.card {
    width: 17%;
    height: auto;
    background-color: #12dcf7;
}

.pequeno {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* aplica apenas quando o mouse estiver no card */
.card:hover .pequeno {
    white-space: normal;
}

.importante{


}

.importante2{

}


.bordas1{
border: #ec0808 dashed;

}



/* Smartphones (600px para baixo) */
@media only screen and (max-width: 599px) {
body{background-color: #000000;
}

}








/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
    body{
    
    }
.borda1 {

    
    max-height: 400px;      /* ajuste conforme seu menu */
    background-color: #000;
    border-radius: 0 0 20px 20px; /* bordas suavizadas embaixo */
    border: 2px solid #ec0808; 
   /*sem erro nesse pode confia*/

}
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
 body{

}
    .borda1 {
    
    max-height: 400px;      /* ajuste conforme seu menu */
    background-color: #000;
    border-radius: 0 0 20px 20px; /* bordas suavizadas embaixo */
    border: 2px solid #ec0808; 
   

}
}



/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {

    .borda1 {
    
    max-height: 400px;      /* ajuste conforme seu menu */
    background-color: #000;
    border-radius: 0 0 20px 20px; /* bordas suavizadas embaixo */
    border: 2px solid #ec0808; 
   

}

}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {

}

.just{
display: inline-block;

}

.espaco{
margin-top: 190px;
}

framado{
font-size: 35px;
}
