body{
background-color: rgb(48, 47, 47);
font-family: Arial, sans-serif;


}
p{
font-size: 30px;
color: white;
margin-top: 20px;
}

h2{
font-size: 40px;
color: white;
}

h1{
font-size: 60px;
color: white;

}

 h3{
font-size: 30px;
color: tomato;

}

.tittle{
color: rgb(255, 255, 255);
text-shadow: 2px 2px 5px #ff0000;
}

.tabela-tags {
    display: inline-block;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: #1a1a1a;
    color: #fff;
    border: 2px solid #444;
    max-width: 700px;
}

.tabela-tags th {
    background: #000;
    padding: 12px;
    border-bottom: 2px solid #444;
    text-align: left;
    font-size: 18px;
}

.tabela-tags td {
    padding: 10px;
    border-bottom: 1px solid #333;
    font-size: 24px;
}

.tabela-tags tr:hover {
    background: #2a2a2a;
}

.id12{
display: block;
}

.botao12, .botao13, .botao14, .botao15{
    display: inline-block; /* impede alongamento */
    font-size: 20px;
    padding: 10px;
}

/* impede alongamento */
.botao14{
 display: inline-block; 
    font-size: 20px;
    padding: 10px;
    }
    


.index{
font-size: 30px;
color: aqua;
}


.borda1{
max-height: 250px;
background-color: #000;
max-width: 1150px;
border-radius: 20px;
margin-left: 490px;
display: inline-block;
margin-top: 20px;

border: 2px solid #ec0808;
}



.procure{
    height: 30px;
width: 500px;
margin-left: 704px;
margin-top: 29px;


}
.titulo {
    display: flex;
    gap: 10px;
    align-items: center; /* impede esticar */
    margin-left: 10px;
}

.grande{

font-size: 20px
}

.bordona{
border: 7px solid #12dcf7;
max-width: 1100px;
margin-bottom: 60px;
}
