body{
background-color: #ccc;
font-family: Arial, sans-serif;
}


.tabela-tags {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: #1a1a1a;
    color: #fff;
    border: 2px solid #444;
    max-width: 700px;
}

.tabela-tags th {
    background: #000;
    padding: 12px;
    border-bottom: 2px solid #444;
    text-align: left;
    font-size: 18px;
}

.tabela-tags td {
    padding: 10px;
    border-bottom: 1px solid #333;
    font-size: 24px;
}

.tabela-tags tr:hover {
    background: #2a2a2a;
}

.id12{
display: block;
}

p{
font-size: 30px;
}
h2{
font-size: 40px;
}
h1{
font-size: 60px;
}
.titulo {
    display: flex;
    gap: 10px;
    align-items: center; /* impede esticar */
}

.botao12, .botao13{
    display: inline-block; /* impede alongamento */
    font-size: 20px;
    padding: 10px;
}

.botao14{
 display: inline-block; /* impede alongamento */
    font-size: 20px;
    padding: 10px;

}
.index{
font-size: 30px;
color: aqua;
}

.fundo{
    height: 600px;
    background-color: #000000;
    width: 800px;
    background-image: url(pic1\ \(5\).jpg);
    background-size: cover;
    background-position: center;
    border: #000;
    background-repeat: no-repeat;
}
